parabol-sidebar {
  @include position(fixed, 0 null 0 -5em);
  @include transition(all .3s ease-in-out);
  border-right: 1px solid $colorMediumGrey;
  background: $colorDarkGrey;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
  width: 5em;
  z-index: 9;

  .toggle {
    @include position(absolute, 1.3em -3em null null);
    @include transition(all .7s ease);
    cursor: pointer;
    display: block;

    @include media($breakTabletLandscape) { display: none }

    .bar {
      @include transition(all .7s ease);
      @include size(1.5em 2px);
      display: block;
      background: $colorDarkGrey;
      margin: 4px auto;
    }

    .middle { margin: 0 auto }
  }

  &[collapsed] {
    .toggle { display: block !important }
    & ~ parabol-sidebar-content { margin-left: 0 }
  }

  &.open {
    @include position(fixed, 0 null 0 0);

    .toggle {
      display: block;
      @include media($breakTabletLandscape) { display: none }

      .bar {
        @include size(1.8em 3px);
        background-color: $colorPrimaryCorp;
      }

      .top { @include transform(translateY(7px) rotateZ(45deg)) }

      .bottom { @include transform(translateY(-7px) rotateZ(-45deg)) }

      .middle { width: 0 }
    }
  }

  parabol-menu-item {
    display: block;
    padding: 1.3em .3em;
    color: $colorLightGrey;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:hover { background: lighten($colorDarkGrey, 5%) }
    
    &.active { background: lighten($colorDarkGrey, 10%) }
    
    fa { color: darken($colorLightGrey, 10%) }

    p {
      font-family: $fontFamilyLight;
      line-height: 1.2em;
      font-size: .65em;
      margin: .7em 0 0 0;
    }
  }
}

parabol-sidebar-content {
  @include position(fixed, 0 0 0 0);
  @include transition(all .3s ease-in-out);
  background: $colorBackground;
  -ms-overflow-style: scrollbar;
  overflow-y: scroll;
  margin-left: 0;

  @include media($breakTabletLandscape) { margin-left: 5em }
}
