parabol-text {
  display: block;

  .group {
    position: relative;
    margin: .5em 0;

    label {
      @include position(absolute, .2em null null .7em);
      @include transition(all 0.2s ease);
      font-size: .7em;
      color: $colorDarkGrey; 
      pointer-events: none;
      font-weight: 500;
    }

    input {
      @include transition(all 0.2s ease);
      background: white;
      color: $colorDarkGrey; 
      font-size: 1em;
      border: none;
      border-bottom: 2px solid $colorSecondaryCorp;
      border-radius: 3px;
      -webkit-box-shadow: rgba(0, 0, 0, .4) 0px 1px 3px 0px;
      -moz-box-shadow: rgba(0, 0, 0, .4) 0px 1px 3px 0px;
      box-shadow: rgba(0, 0, 0, .4) 0px 1px 3px 0px;
      padding: 1.5em .6em .5em;
      outline: none;

      &.masked::selection { background: transparent }

      &:active,
      &:focus {
        transform: scale(1.004);
        transform-origin: center;
        color: lighten($colorDarkGrey, 5%);
        background: white;
        border-bottom: 2px solid $colorPrimaryCorp;

        &+label {
          transform: scale(1.05);
          transform-origin: center;
        }
      }

      &:active + label,
      &:focus + label { color: $colorPrimaryCorp }

      &:active + .mask-container .input-mask .carat, { border-right: 1px solid $colorDarkGrey; }
      &:focus + .mask-container .input-mask .carat { border-right: 1px solid $colorDarkGrey; }
    }

    .mask-container {
      @include position(absolute, null 0 .3em 0);
      background: $colorBackground;
      pointer-events: none;

      .input-mask span {
        position: relative;
        opacity: .5;
        z-index: 9999;

        &.char { opacity: 1 }
        &.carat {
          @include animation(blink 1s ease infinite);
          @include position(relative, -1px null null null);
        }
      }
    }

    .view-password {
      @include position(absolute, null .5em .3em null);
      @include size(1.2em 1.6em);
      cursor: pointer;
    }
  }

  @keyframes blink{
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
  }
}