// Color variables
// Styleguide 1.0

$colorBackground: #fbfbfb;
$colorBackgroundDarkened: darken($colorBackground, 2%);

$colorPrimaryCorp: #267fe3;
$colorSecondaryCorp: #536C8A;

$colorSoftBlue: #A6CAF7;
$colorBrightBlue: #5D95DA;
$colorMediumBlue: #536C8A;
$colorDarkBlue: #2E3E51;

$colorErrorRed: #F26161;
$colorSuccessGreen: #40B292;
$colorWarningOrange: #F7B868;

$colorOffWhite: #fbfbfb;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #3b3b3b;
