// Layout and display helpers
// Styleguide 1.0.

//-------------------------------------
// Display
//-------------------------------------

%inline {
  display: inline-block;
  vertical-align: middle;
}

//-------------------------------------
// Custom float clearing
//-------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

//-------------------------------------
// Alignment
//-------------------------------------

%vertical-align {
  @include transform(translate3d(0, -50%, 0));
  position: relative;
  top: 50%;
}

//-------------------------------------
// Buttons and inputs
//-------------------------------------

%button {
  @include transition(all .2s cubic-bezier(.4, .0, .2, 1));
  font-family: $fontFamilyRegular;
  font-size: 1em;
  border-radius: 3px;
  text-align: center;
  padding: 10px 40px 9px;
  border: 1px solid $colorPrimaryCorp;
  color: $colorPrimaryCorp;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 10em;
  display: inline-block;
  max-width: 30em;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    @include transition(all .2s cubic-bezier(.4, .0, .2, 1));
    background: rgba($colorPrimaryCorp, .1);
  }

  &.pull-right { float: right }

  &.smaller { width: auto }

  &.red {
    border: 1px solid $colorErrorRed;
    color: $colorErrorRed;

    &:hover, &:active, &:focus { background: rgba($colorErrorRed, .1) }
  }

  &.outline {
    border: 1px solid $colorDarkGrey;
    color: $colorDarkGrey;
    background-color: rgba(255, 255, 255, 0);

    &:hover,
    &:active,
    &:focus {
      @include transition(all .2s cubic-bezier(.4, .0, .2, 1));
      background-color: rgba(255, 255, 255, 0.1);
      color: $colorOffWhite;
    }
  }
}

//-------------------------------------
// Static URL
//-------------------------------------

@mixin static-image($url, $position: center center, $size: null, $repeat: no-repeat) {
  background-image: url('#{$url}');
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}