//-------------------------------------
// Layout & comp.
//-------------------------------------

body {
  margin: 0;
  padding: 0;
}

.screen-container {
  margin: 0 auto;
  padding: 0 2.5em;
}

.outer-container {
  max-width: 47em;
  margin: 0 auto;
  padding: 0 1em;
}

.inner-container {
  max-width: 30em;
  margin: 0 auto;
  padding: 1.5em;
}

.half {
  @include span-columns(12 of 12);
  
  @include media($breakTabletLandscape) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
  
  &:after { clear: both }
}

.loading-screen {
  @include transition(opacity .2s ease-in-out .7s);
  @include position(fixed, 15em 48% 0 48%);
  opacity: 0;
  pointer-events: none;
}

.loading {
  .spinner { margin: 5em 42% 0 }

  p {
    text-align: center;
    color: white;
  }
}

my-app:empty + .loading-screen { opacity: 1 }
