// Type settings, font styles, etc
// Styleguide 1.0.

$fontFamilyRegular: Helvetica, sans-serif;
$fontFamilyLight: Helvetica, sans-serif;
$fontFamilyBold: Helvetica, sans-serif;

body {
  @include font-feature-settings("kern");
  font-family: $fontFamilyRegular;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: .5px;
  color: $colorDarkGrey;
  text-rendering: optimizeLegibility;
}

//-------------------------------------
// Headlines
//-------------------------------------

h1, h2, h3, h4 {
  font-family: $fontFamilyLight;
  font-weight: 100;
  line-height: 1;
  margin: 0;
  
  &.center { text-align: center }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $colorDarkGrey;

    &:hover { color: $colorSecondaryCorp }
  }
}

h1 {
  font-family: $fontFamilyBold;
  font-size: 2.5em;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 1em 0;

  @include media($breakTabletPortrait) { font-size: 2.5em }
  @include media($breakTabletLandscape) { font-size: 2em }
}

h2 {
  font-family: $fontFamilyBold;
  color: $colorPrimaryCorp;
  font-size: 1.2em;
  
  &.faded { opacity: .5 }
  &.pull-left { text-align: left }
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}


//-------------------------------------
// Copy semantics
//-------------------------------------

small {
  font-size: .9em;
  line-height: 1em;
  display: inline-block;
  text-transform: uppercase;
  color: darken($colorLightGrey, 20%);
  font-weight: 100;
}

strong { font-family: $fontFamilyBold }

p {
  margin: 1.1em 0;
  font-size: 1em;
  line-height: 1.3em;
}

figure { margin: 0 }
