// Type settings, font styles, etc
// Styleguide 1.0.

@include font-face('Gotham', './assets/sass/global-stylesheets/fonts/Gotham-Book');
@include font-face('GothamLight', './assets/sass/global-stylesheets/fonts/Gotham-Light');
@include font-face('GothamBold', './assets/sass/global-stylesheets/fonts/Gotham-Bold');
@include font-face('GothamBlack', './assets/sass/global-stylesheets/fonts/Gotham-Black');

$fontFamilyRegular: Gotham, Helvetica, sans-serif;
$fontFamilyLight: GothamLight, Helvetica, sans-serif;
$fontFamilyBold: GothamBold, Helvetica, sans-serif;
$fontFamilyBlack: GothamBlack, Helvetica, sans-serif;

body {
  @include font-feature-settings("kern");
  font-family: $fontFamilyLight;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.3em;
  color: $colorOffWhite;
  text-rendering: optimizeLegibility;
}

//-------------------------------------
// Headlines
//-------------------------------------

h1, h2, h3, h4 {
  font-family: $fontFamilyLight;
  font-weight: 100;
  line-height: 1;
  margin: 0;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $colorOffWhite;

    &:hover { color: $colorSecondaryCorp }
  }
}

h1 {
  font-family: $fontFamilyBold;
  letter-spacing: 1px;
  font-size: 2.5em;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0;

  @include media($breakTabletPortrait) { font-size: 2.5em }
  @include media($breakTabletLandscape) { font-size: 2em }
}

h2 {
  font-size: 1.3em;
  text-align: center;
  color: $colorOffWhite;
  
  &.faded { opacity: .5 }
  &.pull-left { text-align: left }
}

h3 {
  font-size: 1.3em;
  font-family: $fontFamilyBold;
  text-transform: capitalize;
}

h4 {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
}


//-------------------------------------
// Copy semantics
//-------------------------------------

small {
  font-size: .9em;
  line-height: 1em;
  display: inline-block;
  text-transform: uppercase;
  color: darken($colorLightGrey, 20%);
  font-weight: 100;
}

strong { font-family: $fontFamilyBold }

p {
  margin: 1.1em 0;
  font-size: 1em;
  line-height: 1.3em;
}

figure { margin: 0 }
